{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container-fluid vh-100">
    <div class="d-flex flex-column m-auto text-center h-100 align-items-center justify-content-center">

    <h2>Sauvegarde créee</h2>
    
</div>
</div>
{% endblock %}
