{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer!{% endblock %}

{% block body %}
<div class="container-fluid vh-100">
    <div class="d-flex flex-column h-100 align-items-center justify-content-center">
    
        {% if is_granted('ROLE_USER') %}
            <h2>Bienvenue {{ app.user.nickname }}!</h2>
            <a href="{{ path('game_home') }}" class="btn btn-primary">Cliquer ici pour jouer!</a>
        {% else %}
            <h2>Déjà inscrit? Connectez-vous pour jouer!</h2>
            <a href="{{ path('app_login') }}" class="btn btn-success mb-5 mt-3">Se Connecter</a>
            <h2>Pas encore inscrit? Il vous suffit de vous inscrire pour jouer!</h2>
            <a href="{{ path('app_register') }}" class="btn btn-primary mt-3">S'inscrire</a>
        {% endif %}
    </div>
</div>
{% endblock %}
