{% extends 'base.html.twig' %}

{% block title %}Liste des quêtes!{% endblock %}

{% block body %}
<div class="container-fluid vh-100">
    <div class="d-flex flex-column m-auto text-center h-100 align-items-center justify-content-center">


    <h3>Quête "{{ quest.name }}" finie!</h3>
    <p>{{ character.name }} gagne <span class="badge badge-rounded bg-warning">{{ quest.experience }} xp</span><p>
    <a href="{{ path('character_details', {'id': character.id, 'name' : character.name }) }}" class="btn btn-outline-primary">Revenir au personnage</a>

</div>
</div>
{% endblock %}
