{% extends 'base.html.twig' %}

{% block title %}War of the Ponies - Liste des quêtes!{% endblock %}

{% block body %}

<div class="container-fluid vh-100">
    <div class="d-flex flex-column m-auto text-center h-100 align-items-center justify-content-center">

    <h3 class="mb-3">Quelle quête voulez vous effectuer?</h3> 

    <a class="btn btn-outline-danger" href="{{ path('quest_attempt', { 'id' : 1 }) }}">Courir après les Poneys</a>

    {# <a class="btn btn-outline-primary" href="{{ path('monster_fight', { 'id' : 2 }) }}">Goblin</a>

    <a class="btn btn-outline-success" href="{{ path('monster_fight', { 'id' : 3 }) }}">Chaise</a> #}

    <a class="btn btn-outline-secondary mt-5" href="{{ path('character_details', {'id': character.id }) }}">Retour au Personnage</a>

</div>
</div>
{% endblock %}
