{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% if character.actions > 0 %}

    <h3>Quel monstre voulez vous affronter?</h3> 

    <a class="btn btn-outline-danger" href="{{ path('monster_fight', { 'id' : 1 }) }}">Poney Andalou</a>

    <a class="btn btn-outline-primary" href="{{ path('monster_fight', { 'id' : 2 }) }}">Goblin</a>

    <a class="btn btn-outline-success" href="{{ path('monster_fight', { 'id' : 3 }) }}">Chaise</a>

    <a class="btn btn-outline-secondary" href="{{ path('character_details', {'id': character.id, 'name' : character.name }) }}">Retour au Personnage</a>

    {% else %}

    <p>Vous n'avez plus d'énergie!</p>

    {% endif %}
</div>
{% endblock %}
